Repository scttfrdmn/qnap-vm: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -l
  - -s
  - -w

go-vet:
  name: go vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

Complete Phase 1: Core VM lifecycle management
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/ssh/client.go
  pkg/storage/pool.go
  pkg/storage/pool_test.go
  pkg/virsh/client.go
  pkg/virsh/client_test.go
Due: go-fmt, go-vet

Set up release infrastructure for v0.1.0
  .github/workflows/release.yml
  .goreleaser.yaml
  CHANGELOG.md
  Dockerfile
  README.md
Due: none

Fix GoReleaser configuration
  .goreleaser.yaml
Due: none

Achieve A+ Go Report Card rating and enhance code quality
  .github/workflows/ci.yml
  .golangci.yml
  .pre-commit-config.yaml
  pkg/config/config_test.go
  pkg/ssh/client.go
  pkg/storage/pool.go
  pkg/virsh/client.go
Due: go-fmt, go-vet

Final A+ Go Report Card compliance
  .golangci.yml
  pkg/config/config.go
  pkg/ssh/client.go
  pkg/storage/pool.go
  pkg/virsh/client.go
Due: go-fmt, go-vet

Add comprehensive integration test suite for real QNAP hardware [integration]
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  pkg/storage/pool.go
  pkg/virsh/client.go
  tests/integration/README.md
  tests/integration/go.mod
  tests/integration/integration_test.go
Due: go-fmt, go-vet, go-mod-tidy

Fix GoReleaser main path configuration
  .goreleaser.yaml
Due: none

Restructure project to match qnap-docker for successful GoReleaser builds
  .goreleaser.yaml
  Makefile
  cmd/root.go
  main.go
Due: go-fmt, go-vet

Complete Phase 2: Advanced VM Management Features [integration]
  CHANGELOG.md
  README.md
  cmd/root.go
  main.go
  pkg/virsh/client.go
  tests/integration/integration_test.go
Due: go-fmt, go-vet

Complete Phase 2: VM Console Access and Final Integration [integration]
  CHANGELOG.md
  README.md
  cmd/root.go
  pkg/virsh/client.go
  tests/integration/integration_test.go
Due: go-fmt, go-vet

Finalize v0.2.0 documentation and Phase 2 completion
  README.md
Due: none

Fix GoReleaser configuration for successful v0.2.0 release
  .goreleaser.yaml
Due: none

Streamline Phase 3 roadmap - Remove templates/marketplace complexity
  CHANGELOG.md
  README.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.mod$
